# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
# .ipynb_checkpoints

# PyTorch
# *.pth
# *.pt

# Data
data/UCI HAR Dataset/
data/*.zip

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Plots and Results
# saved_models/*.png
# saved_models/*.pth

# Virtual Environment
venv/
env/
ENV/

# Logs
*.log

# OS
Thumbs.db

